/*LOGO UTC*/
.logoUTC{
    margin-right: 200px;
}
.logoUTC img{
    width: 140px;
}

/*ETIQUETAS DE NAVEGACION*/
.etiquetas li{
    padding-left: 50px;
}
.etiquetas a{
    font-weight: 700;
    color: white;
}
.etiquetas a:hover{
    color: aqua;
    border-bottom: 1px solid aqua;
}

.btnAprender{
    border-radius: 5px;
    background-color: #F5A425;
}
.btnAprender:hover{
    border-bottom: none !important;
    color: white !important;
    background-color: #ed960a;
}
.configuracion:hover{
    color: white !important;
    border-bottom: none !important;
    font-size: larger;
}

/*FOOTER*/
.footer li,a{
    padding-right: 50px;
}
.footer a{
    color: white;
}
.footer a:hover{
    color: aqua;
    border-bottom: 1px solid aqua;
}