{% extends "plantilla.html" %}
{%block body%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br><br>
                <form action="{% url 'insertarUsuario' %}"  enctype="multipart/form-data" id="frm_registro_usuario" method="post">
                    {% csrf_token %}
                    <div class="row bg-white pb-3">
                        <!--PARTE 1-->
                        <div class="col-md-6">
                            <br>
                            <label for=""><b>PRIMER NOMBRE:</b></label>
                            <input type="text" name="primerNombre" id="primerNombre" class="form-control" placeholder="Ingrese su primer nombre">
                            <br>
                            <label for=""><b>SEGUNDO NOMBRE:</b></label>
                            <input type="text" name="segundoNombre" id="segundoNombre" class="form-control" placeholder="Ingrese su segundo nombre">
                            <br>
                            <label for=""><b>APELLIDO PATERNO:</b></label>
                            <input type="text" name="apellidoPaterno" id="apellidoPaterno" class="form-control" placeholder="Ingrese su primer apellido">
                            <br>
                            <label for=""><b>APELLIDO MATERNO:</b></label>
                            <input type="text" name="apellidoMaterno" id="apellidoMaterno" class="form-control" placeholder="Ingrese su segundo apellido">
                            <br>
                            <label for=""><b>DIRECCIÓN:</b></label>
                            <textarea name="direccion" id="direccion" class="form-control" rows="2"></textarea>
                            <br>
                            <label for=""><b>TELÉFONO:</b></label>
                            <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Ingrese su número de celular">
                        </div>
                        <!--PARTE 2-->
                        <div class="col-md-6">
                            <br>
                            <label for=""><b>FOTOGRAFÍA (Opcional):</b></label>
                            <input type="file" name="foto" id="foto" accept="image/*" class="form-control">
                            <br>
                            <label for=""><b>CORREO ELECTRÓNICO:</b></label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="ejemplo@...">
                            <br>
                            <label for=""><b>USUARIO:</b></label>
                            <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Ingrese el un nombre para usuario">
                            <br>
                            <div class="passwd-wrapper"></div>
                                <label for="contraseña"><b>CONTRASEÑA:</b></label>
                                <input type="password" name="contraseña" id="contraseña" class="form-control" 
                                    placeholder="Ingrese una contraseña segura"><i class="fa fa-eye toggle-passwd"></i>
                                <br>
                                <label for=""><b>ROL:</b></label>
                                <select name="rol" id="rol" class="form-control">
                                    <option value="" disabled selected hidden>--------------- SELECCIONE UN ROL ---------------</option>
                                    <option value="ESTUDIANTE">ESTUDIANTE</option>
                                    <option value="DOCENTE">DOCENTE</option>
                                    <option value="EXTERNO">EXTERNO</option>
                                </select>
                            </div>    
                            <div class="text-start">
                                <br>
                                <!--BOTONES-->
                                <button type="reset" class="btn btn-secondary"><i class="fa fa-trash"></i> Limpiar</button>                  
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="{% url 'listadoUsuarios' %}" class="btn btn-danger">
                                    <i class="fa fa-times"> Cancelar</i>
                                </a>
                            </div>                       
                        </div>                   
                    </div>
                </form>
            </div>
        </div> 
    </div>
{% endblock %}