{% extends "plantilla.html" %}
{% block body %}
    <div class="contenidoi">
        <center><h1> UNIT INDEX</h1></center>
        <br>
        <nav class="nav-etiquetas">
            <ul>
                <li>
                    <center>
                        <a href="#" data-content=""><b>UNIT 1</b><br>Introduce Yourself<br><br><br><button class="start-button">Start</button><br><br><br></a>
                    </center>
                    <ul class="sub-lista">
                        <li><a href=""><b>Lesson 1</b> - Hello, My name is Jhon</a></li>
                        <li><a href=""><b>Lesson 2</b> - Body Parts</a></li>
                        <li><a href=""><b>Lesson 3</b> - Countries and Nationalities</a></li>
                        <li><a href=""><b>Lesson 4</b> - Descriptive Adjectives</a></li>
                    </ul>
                </li>
                <li>
                    <center><a href="#" data-content=""><b>UNIT 2</b><br>My Favorite People<br><br><br><button class="start-button">Start</button><br><br><br> </a></center>
                    <ul class="sub-lista">
                        <li><a href=""><b>Lesson 1</b> - Emotions</a></li>
                        <li><a href=""><b>Lesson 2</b> - Professions</a></li>
                        <li><a href=""><b>Lesson 3</b> - Family Members</a></li>
                        <li><a href=""><b>Lesson 4</b> - Clothes</a></li>
                    </ul>
                </li>
                <li>
                    <center><a href="#" data-content=""><b>UNIT 3</b><br>My House <br><br><br><button class="start-button">Start</button><br><br><br></a></center>
                    <ul class="sub-lista">
                        <li><a href=""><b>Lesson 1</b> - Parts of the house</a></li>
                        <li><a href=""><b>Lesson 2</b> - Household Chores</a></li>
                        <li><a href=""><b>Lesson 3</b> - Objects of the house</a></li>
                        <li><a href=""><b>Lesson 4</b> - Where is it?</a></li>
                    </ul>
                </li>
                <li>
                    <center><a href="#" data-content=""><b>UNIT 4</b><br>My School <br><br><br><button class="start-button">Start</button><br><br><br></a></center>
                    <ul class="sub-lista">
                        <li><a href=""><b>Lesson 1</b> - My favorite place is the museum</a></li>
                        <li><a href=""><b>Lesson 2</b> - Where is the school</a></li>
                        <li><a href=""><b>Lesson 3</b> - My pencil is yellow</a></li>
                        <li><a href=""><b>Lesson 4</b> - There is playground</a></li>
                    </ul>
                </li>
                <li style="margin-top: 260px;"> 
                    <center><a href="#" data-content=""><b>UNIT 5</b><br>Let's go to Zoo <br><br><br><button class="start-button">Start</button><br><br><br></a></center>
                    <ul class="sub-lista">
                        <li><a href=""><b>Lesson 1</b> - Domestic Animals</a></li>
                        <li><a href=""><b>Lesson 2</b> - Domestic Animals</a></li>
                        <li><a href=""><b>Lesson 3</b> - Parts of the animal's Body</a></li>
                        <li><a href=""><b>Lesson 4</b> - Animals Habitats</a></li>
                    </ul>
                </li>
                <li style="margin-top: 260px;"> 
                    <center><a href="#" data-content=""><b>UNIT 6</b><br>Birthday Party <br><br><br><button class="start-button">Start</button><br><br><br></a></center>
                    <ul class="sub-lista">
                        <li><a href=""><b>Lesson 1</b> - My birthday is Saturday, August 12th</a></li>
                        <li><a href=""><b>Lesson 2</b> - My favorite gift</a></li>
                        <li><a href=""><b>Lesson 3</b> - Decorating my party</a></li>
                        <li><a href=""><b>Lesson 4</b> - Food at the birthday</a></li>
                    </ul>
                </li>
                <li style="margin-top: 260px;"> 
                    <center><a href="#" data-content=""><b>UNIT 7</b><br>My Daily Routine <br><br><br><button class="start-button">Start</button><br><br><br></a></center>
                    <ul class="sub-lista">
                        <li><a href=""><b>Lesson 1</b> - I get up at 6 o'clock</a></li>
                        <li><a href=""><b>Lesson 2</b> - I swim very well</a></li>
                        <li><a href=""><b>Lesson 3</b> - Do I go by bus?</a></li>
                        <li><a href=""><b>Lesson 4</b> - I like eating vegetables</a></li>
                    </ul>
                </li>
                <li style="margin-top: 260px;">
                    <center><a href="#" data-content=""><b>UNIT 8</b><br>My Free Time <br><br><br><button class="start-button">Start</button><br><br><br></a></center>
                    <ul class="sub-lista">
                        <li><a href=""><b>Lesson 1</b> - I like reading fairytales</a></li>
                        <li><a href=""><b>Lesson 2</b> - He doesn't like playing football</a></li>
                        <li><a href=""><b>Lesson 3</b> - Do you like?</a></li>
                        <li><a href=""><b>Lesson 4</b> - What do you do in your free time</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}



