{% extends "plantilla.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>

</head>
<body>
    <div class="contenido">
       
        
        <!-- Imagen del logo de la universidad centrada -->
        <img src="https://aplicaciones.utc.edu.ec/sigutc/Styles/Nuevo/assets/images/logo-blanco-universidad.png" alt="Imagen 2" class="logo-utc">
        
        <br><br>

        <div class="fila">
            <div class="columna-izquierda">
                <img src="http://www.utc.edu.ec/Portals/0/Images/2018/autoridades/rodri%20copia.jpg?ver=2018-04-24-152519-603" alt="Imagen 1">
            </div>
            <div class="columna-derecha">
                <h2>Misión</h2>
                <p>La UTC forma profesionales humanistas y de calidad, capaces de generar conocimiento científico a través de la investigación y vinculación, para que contribuyan a la transformación social, tecnológica y económica del país.</p>
            </div>
        </div>

        <br><br>

        <div class="fila">
            <div class="columna-izquierda">
                <h2>Visión</h2>
                <p>La UTC será una universidad innovadora, científica y eficiente, comprometida con la calidad y pertinencia para alcanzar una sociedad equitativa, inclusiva y colaborativa.</p>
            </div>
            <div class="columna-derecha">
                <img src="http://www.utc.edu.ec/Portals/0/BELEN/RE_PAGINA/mision2.jpg?ver=2019-09-24-102252-453" alt="Imagen 2">
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}