{% extends "plantilla.html" %}
<!-- {% load static %} -->
{% block body %}
    <!--INICIO CUERPO 1-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="features-post">
                        <div class="features-content" style="background-color: aqua;height: 120px;">
                            <div class="content-show text-center">
                                <h4><i class="fa fa-user"></i>FRIENDS</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post second-features">
                        <div class="features-content" style="background-color: #F5A425;height: 120px;">
                            <div class="content-show text-center">
                                <h4><i class="fa fa-star"></i>START</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post third-features">
                        <div class="features-content" style="background-color: yellow;height: 120px;">
                            <div class="content-show text-center">
                                <h4><i class="fa fa-list"></i>ALL   </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section why-us" data-section="section2">
        <br><br>
        <div class="content-show text-center circulos">
            <i class="fa fa-circle" style="font-size: 24px; color: #F5A425;"></i>
            <i class="fa fa-circle" style="font-size: 24px; color: red;"></i>
            <i class="fa fa-circle" style="font-size: 24px; color: greenyellow;"></i>
            <i class="fa fa-circle" style="font-size: 24px; color: aqua;"></i>
        </div>
    </section>
    
    <!--FIN CUERPO 1-->
{% endblock %}