{% extends "plantilla.html" %}
<!-- {% load static %} -->
{% block body %}
    <!--INICIO CUERPO 1-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="features-post">
                        <div class="features-content" style="background-color: aqua;height: 120px;">
                            <div class="content-show text-center">
                                <h4><i class="fa fa-user"></i>FRIENDS</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post second-features">
                        <div class="features-content" style="background-color: #F5A425;height: 120px;">
                            <div class="content-show text-center">
                                <h4><i class="fa fa-star"></i>START</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post third-features">
                        <div class="features-content" style="background-color: yellow;height: 120px;">
                            <div class="content-show text-center">
                                <h4><i class="fa fa-list"></i>ALL   </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section why-us contenedor-cuerpo" data-section="section2">
        <br><br>
        <div class="content-show text-center circulos">
            <i class="fa fa-circle" style="font-size: 24px; color: #F5A425;"></i>
            <i class="fa fa-circle" style="font-size: 24px; color: red;"></i>
            <i class="fa fa-circle" style="font-size: 24px; color: greenyellow;"></i>
            <i class="fa fa-circle" style="font-size: 24px; color: aqua;"></i>
        </div>
        <br>
        <div class="cuerpo">
            <nav class="nav-etiquetas">
                <ul>
                    <li>
                        <center>
                            <a href="#" data-content=""><b>UNIT 1</b><br>Introduce Yourself<br><br><button class="start-button">Start</button><br><br></a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="#" data-content=""><b>UNIT 2</b><br>My Favorite People<br><br><button class="start-button">Start</button><br><br></a>
                        </center>
                        
                    <li>
                        <center>
                            <a href="#" data-content=""><b>UNIT 3</b><br>My House <br><br><button class="start-button">Start</button><br><br></a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="#" data-content=""><b>UNIT 4</b><br>My School <br><br><button class="start-button">Start</button><br><br></a>
                        </center>
                    </li>
                    <li style="margin-top: 260px;"> 
                        <center>
                            <a href="#" data-content=""><b>UNIT 5</b><br>Let's go to Zoo <br><br><button class="start-button">Start</button><br><br></a>
                        </center>
                    </li>
                    <li style="margin-top: 260px;"> 
                        <center>
                            <a href="#" data-content=""><b>UNIT 6</b><br>Birthday Party <br><br><button class="start-button">Start</button><br><br></a>
                        </center>
                    </li>
                    <li style="margin-top: 260px;"> 
                        <center>
                            <a href="#" data-content=""><b>UNIT 5</b><br>Let's go to Zoo <br><br><button class="start-button">Start</button><br><br></a>
                        </center>
                    </li>
                    <li style="margin-top: 260px;"> 
                        <center>
                            <a href="#" data-content=""><b>UNIT 6</b><br>Birthday Party <br><br><button class="start-button">Start</button><br><br></a>
                        </center>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <br>
    
    <!--FIN CUERPO 1-->
{% endblock %}